@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root{
    --turq: rgb(2, 183, 200);
    --backgroundcol: rgb(247, 247, 247);
    --backgroundhov: rgb(187, 187, 187);
    --sandcolor: rgb(246, 215, 176);
}

#top-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#top-container h1{
    /* CSS TRANSITION */
    transition-property: font-size;
    transition-duration: 0.5s;
}

#top-container h1:hover{
    font-size: 33px;
}

#top-container a{
    text-decoration: none;
    color: black;
}

#top-container h2{
    font-family: 'Concert One';
}

header h1{
    font-family: "Anton";
}

nav ul{
    padding: 0;
    margin: 0;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

nav ul li{
    margin-bottom: 10px;
}

nav ul li[id = "prevBtn"], nav ul li[id = "nextBtn"]{
    width: 100px;
}

nav ul li{
    font-family: "Concert One";
    list-style-type: none;
    display: inline-block;
    border: 2px solid black;
    background-color: var(--backgroundhov);
    border-radius: 10px;
    padding: 5px 20px 5px 20px;

    /* CSS TRANSITION */
    transition-property: transform;
    transition-duration: 0.5s;
}

nav ul li a{
    text-decoration: none;
    color: var(--sandcolor);
}

.wrapper {
    width: 90%;
    margin: auto;
    background-image: linear-gradient(to bottom right, var(--backgroundcol) 80%, rgb(0, 204, 255));
    padding: 10px;
    border-radius: 10px;

    /* CSS ANIMATION */
    position: relative;
    animation-name: appear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes appear{
    0%{
        opacity: 0;
        top: 20px;
    }
    100%{
        opacity: 1;
        top: 0;
    }
}

body{
    background-image: url("../img/maldives-1993704_1920-compressed.jpg");
    background-attachment: fixed;
    background-size: cover;
}

fieldset {
    overflow-x: auto;
}

/* Simply removes the radio buttons */
input[type = "radio"]{
    opacity: 0;
    position: fixed;
    width: 0;
}

label{
    display: block;
    padding: 10px 20px;
    border: 3px solid black;
    border-radius: 10px;
    margin: 10px;
    font-family: "Concert One";

    /* CSS TRANSITION */
    transition-duration: 1s;
    transition-property: background-color;
}

input[type = "radio"]:checked + label{
    background-color: green;

    /* CSS ANIMATION */
    animation-name: border-color;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes border-color{
    0%{
        border-color: black;
    }
    20%{
        border-top-color: red;
        /* border-right-color: yellow;
        border-bottom-color: yellow;
        border-left-color: yellow; */
    }
    40%{
        border-top-color: red;
        border-right-color: red;
        /* border-bottom-color: yellow;
        border-left-color: yellow; */
    }
    60%{
        border-top-color: red;
        border-right-color: red;
        border-bottom-color: red;
        /* border-left-color: yellow; */
    }
    80%{
        border-top-color: red;
        border-right-color: red;
        border-bottom-color: red;
        border-left-color: red;
    }
    100%{
        border-color: black;
    }
}

/* input[type = "radio"]:focus + label{
    border: 5px solid blue;
} */

label:hover{
    background-color: var(--backgroundhov);
    cursor:pointer;

    /* CSS ANIMATION */
    animation-name: border-color-hover;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes border-color-hover{
    0%{
        border-color: black;
    }
    20%{
        border-top-color: var(--turq);
        /* border-right-color: yellow;
        border-bottom-color: yellow;
        border-left-color: yellow; */
    }
    40%{
        border-top-color: var(--turq);
        border-right-color: var(--turq);
        /* border-bottom-color: yellow;
        border-left-color: yellow; */
    }
    60%{
        border-top-color: var(--turq);
        border-right-color: var(--turq);
        border-bottom-color: var(--turq);
        /* border-left-color: yellow; */
    }
    80%{
        border-top-color: var(--turq);
        border-right-color: var(--turq);
        border-bottom-color: var(--turq);
        border-left-color: var(--turq);
    }
    100%{
        border-color: black;
    }
}

legend{
    font-family: 'Concert One';
    font-size: 1.5em;
}

footer{
    font-family: 'Indie Flower';
    font-weight: bold;
    text-align: center;
}

@media (min-width: 768px){
    nav ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* justify-content: center;
        align-items: center; */
        padding-left: 0;
        margin-left: 0;
        margin-right: 0;
        /* padding: 10px; */
        /* margin: 10px; */
        width: 100%;
    }
    nav ul li{
        margin-bottom: 0;
    }
    nav ul li[id = "prevBtn"]{
        /* text-align: left; */
        margin-right: auto;
    }
    
    nav ul li[id = "nextBtn"]{
        /* text-align: right;
        position: relative;
        left: 50vw; */
        margin-left: auto;
        /* margin-right: auto; */
    }
    nav ul li:hover{
        transform: scale(1.1, 1.1);
    }
}